@import "tailwindcss";

/* Define custom theme tokens */
@theme {
  --font-heading: "Playfair Display", "Cormorant Garamond", "Times New Roman", serif;
  --tracking-tightest: 0.02em;
  --leading-custom: 0.95;
}

/* Apply globally */
@layer base {

  h1,
  h2,
  h3 {
    @apply font-heading font-light tracking-tightest leading-custom;
  }

  nav button {
    font-family: "Poppins" !important;
  }

  a {
    font-family: "Poppins" !important;

  }

  #about,
  #skills,
  #experience,
  #projects,
  #contact {
    font-family: "Poppins";
  }
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
  border: 1px solid white;
  border-radius: 6px;
  padding: 2px;
}

.react-datepicker-popper {
  z-index: 9999 !important;
}








